.movie-card {
    padding-top: 15px;
    margin-bottom: 30px;;
}

.card-top-container img {
 width: 100%;
}

.card-bottom-container {
    padding: 20px;
    margin-bottom: 20px;
}

.card-bottom-container h1 {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -0.015em;
    color: #fff;
}

.card-bottom-container h3 {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: -0.015em;
    color: #FFC700;
}

.card-bottom-container h6 {
    font-weight: normal;
    font-size: 14px;
    letter-spacing: -0.015em;
    color: #fff;
}

@media (min-width: 576px) {
    .movie-card {
        min-height: 300px;
        margin-right: 20 px;
    }
}

@media (min-width: 768px) {
    .movie-card {
        min-height: 380px;
    }
}

@media (min-width: 992px) {
    .movie-card {
        min-height: 322px;
        
        
    }
}