.movies-container {
  padding: 10px;
}

.movies-search-container {
  padding: 20px;
  margin-bottom: 10px;
}

.movies-search-container h1 {
  color: #fff;
}

@media (min-width: 992px) {
  .movies-container {
    padding: 40px;
  }

  .movies-search-container {
    margin-bottom: 30px;
  }
}
