.movies-container {
  padding: 10px;
}

.movies-search-container {
  padding: 20px;
  margin-bottom: 10px;
  background-color: #6C6C6C;

}

.movies-catalog-container {
  display: flex;
}

@media (min-width: 992px) {
  .movies-container {
    padding: 40px;
  }

  .movies-search-container {
    margin-bottom: 30px;
  }
}
