.movies-container {
  padding: 10px;
  width: 100%;
}

.movies-search-container {
  padding: 20px;
  margin-bottom: 10px;
  background-color: #6C6C6C;

}

@media (min-width: 992px) {
  .movies-container {
    padding: 40px;
  }

  .movies-search-container {
    margin-bottom: 30px;
  }
}
